[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
"docs:watch"="sphinx-autobuild docs/source docs/build/html --watch gymnos --watch conf --watch hydra_plugins"
"docs:clean"="rm -rf docs/build"
"docs:build"="sphinx-build docs/source docs/build"

[dev-packages]
gymnos = {editable = true,path = ".",extras=["docs", "style"]}

[packages]
gymnos = {editable = true,path = "."}

[requires]
python_version = "3.7"
