[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"

[packages]
keras = "*"
opencv-python = "*"
tqdm = "*"
kaggle = "*"
numpy = "*"
pandas = "*"
tables = "*"
scikit-learn = "*"
spacy = "*"
comet-ml = "*"
mlflow = "*"
joblib = "*"
statsmodels = "*"
py-cpuinfo = "*"
gputil = "*"

[requires]
python_version = "3.5"
