[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
keras = "*"
tqdm = "*"
kaggle = "*"
numpy = "*"
pandas = "*"
tables = "*"
scikit-learn = "*"
spacy = "*"
comet-ml = "*"
mlflow = "*"
joblib = "*"
statsmodels = "*"
py-cpuinfo = "*"
gputil = "*"
dill = "*"
scipy = "==1.2"
commentjson = "*"
pillow = "*"

[requires]
python_version = "3.5"
